* {
}

.meta {
  color: #aaa;
  font-size: 14px;
}

.player-page {
  padding: 30px;
}

.video-wrapper {
  margin-top: 20px;
  border-radius: 12px;
  overflow: hidden;
}

.episode-list {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.episode-btn {
  background: #7e22ce;
  border: none;
  padding: 10px 16px;
  color: white;
  border-radius: 8px;
  cursor: pointer;
}

.episode-btn:hover {
  background: #9333ea;
}

@media(max-width:768px){

  header {
    flex-direction: column;
    gap: 15px;
  }

  #searchInput {
    width: 100%;
  }

  .overlay h1 {
    font-size: 36px;
  }

}
